.body {
  background-image: url('../assets/background.jpg');
  image-resolution: from-image;
}

div.col-md-4.centered {
  text-align: center;
}

div.col-md-3 {
  text-align: center;
}

img.product_image {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.large_product_image {
  width: 150%;
  border-radius: 50%;
}

img.sidedish_image {
  width: 100%;
  border-radius: 50%;
}

.btn.btn-primary {
  margin: 10px;
  color: black;
  background-color: white;
  border: none;
}

.btn.btn-primary:hover {
  color: white;
  background-color: black;
}

.modal-dialog{
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px
}

.product-description {
  text-align: left;
  padding: 10px;
  color: white;
}

#img_container {
  position:relative;
  display:inline-block;
  text-align:center;
}
.close {
  position:absolute;
  top: 0px;
  right: 10px;
  font-size: 400%;
  color: white;
  opacity: .9
}

.close:hover{
  color: black;
}

.logo{
  width: 300px;
  height: 300px;
  position: relative;
  top: 15px;
}
agm-map {
  height: 300px;
}

.header-text {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.navbar-default {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  height: 350px;
}
