<div class="container">
  <div class="row">
    <div class="col-md-4 centered" *ngFor="let product of products">
      <div *ngIf="product.type == 'dish'">
        <h1>{{product.name}} {{product.price}}:-</h1>
        <img class="product_image" data-toggle="modal" attr.data-target="#productModal{{product.id}}" src={{product.image}} />
        <div class="modal fade" id="productModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="productCloseup" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <img class="img-responsive large_product_image" src={{product.image}} alt="Product Image" />
            <div class="product-description">
              {{product.description}}
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 centered" *ngFor="let product of products">
      <div *ngIf="product.type == 'salad'">
        <h1>{{product.name}} {{product.price}}:-</h1>
        <img class="product_image" src="{{product.image}}"/>
      </div>
    </div>
  </div>
</div>
