

.footer {
  background-color: black;
  background: rgba(0,0,0,.7);
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-text {
  text-align: center;

  width: 100%;
  color: white;
}

.header-text {
  background-color: black;
  background: rgba(0,0,0,.7);
  width: 100%;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

nav.navbar.navbar-default {
  margin-bottom: 30px;
  padding: 0px;
}

nav {
  background-image: url('/assets/flatlays.jpg');
}

.logo{
  width: 300px;
  height: 300px;
  position: relative;
  top: 15px;
}

body {
  background-image: url('/assets/background.jpg');
  image-resolution: from-image;
}

a:link {
  color: red;
}

a {
  color: red;
}

a:link:hover, a:link:visited, a:link:active, a:link:focus {
  color: darkred;
  text-decoration: none;
  border: none;
}

a#showing_hide:hover, a#showing_hide:visited, a#showing_hide:active, a#showing_hide:focus {
  color: darkred;
  text-decoration: none;
  border: none;
}

i {
  color: red;
}

i:hover {
  color: darkred;
  text-decoration: none;
}

button.btn.btn-pay.disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .btn-remove-web, .show-on-web {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .btn-remove-mobile, .show-on-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
