.footer {
  background-color: black;
  background: rgba(0,0,0,.7);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-text {
  text-align: center;

  width: 100%;
  color: white;
}

.header-text {
  background-color: black;
  background: rgba(0,0,0,.7);
  width: 100%;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

nav.navbar.navbar-default {
  margin-bottom: 30px;
  padding: 0px;
}

.logo{
  width: 300px;
  height: 300px;
  position: relative;
  top: 15px;
}

body {
  background-image: url('/assets/background.jpg');
  image-resolution: from-image;
}

a:link {
  color: red;
}

a:link:hover {
  color: darkred;
  text-decoration: none;
}
